@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  background-color: #212529;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.inputErrors {
  color: red;
  font: 10px;
}
