@tailwind base;
@tailwind components;
@tailwind utilities;

/* #212529; */
body {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: space-around;
  color: white;
  overflow-y: auto;
}

.inputErrors {
  color: red;
  font: 10px;
}
